.activity-page {
  &__taylor-made-wrapper {
    &.grid-2 {
      display: flex;
      justify-content: center;
      article {
        width: 50%;
        max-width: 500px;
        flex-direction: column;
        align-items: stretch;
        @media only screen and (max-width: $screen-sm) {
          width: 100%;
        }
        .taylor-made-card__textblock {
          padding-left: 0;
        }
        .taylor-made-card__img-wrap {
          flex: 0 1 auto;
          margin-bottom: 30px;
          @media only screen and (max-width: $screen-sm) {
            width: 100%;
          }
        }
      }
      @media only screen and (max-width: $screen-sm) {
        flex-direction: column;
        margin: 15px 0;
        align-items: center;
      }
    }
  }
}
