.contact-page {
  /* map col styles */
  .map-col-main {
    margin-top: 40px;

    @include breakpoint-min($screen-md) {
      margin-top: 0;
    }
  }

  .contact-info {
    margin-top: $global-sm-space;
    margin-bottom: $global-sm-space;

    .col-sm-3 {
      margin-bottom: $global-xs-space;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    [class^='ico-'],
    [class*=' ico-'] {
      display: inline-block;
      font-size: 60px;
      margin-bottom: 30px;
    }
    [class^='icon-'],
    [class*=' icon-'] {
      display: inline-block;
      font-size: 60px;
      margin-bottom: 30px;
    }
    h3 {
      color: $text-color;
    }

    .social-wrapper {
      display: flex;
      justify-content: center;
      [class^='ico-'],
      [class*=' ico-'] {
        display: inline-block;
        font-size: 40px;
        margin-bottom: 30px;
      }
      [class^='icon-'],
      [class*=' icon-'] {
        display: inline-block;
        font-size: 40px;
        margin-bottom: 30px;
      }
    }

    .social {
      padding: 0 15px;
      &.instagram:hover {
        color: $c-instagram;
      }
      &.facebook:hover {
        color: $c-facebook;
      }
    }

    @include breakpoint-min($screen-sm) {
      margin-top: $global-md-space;
      margin-bottom: $global-md-space;
    }

    @include breakpoint-min($screen-md) {
      margin-top: $global-space;
      margin-bottom: $global-space;
    }

    @include breakpoint-max($screen-xs - 1) {
      margin-bottom: 20px;
    }
  }

  .map-holder {
    iframe {
      width: 100%;
    }
  }
}
