.destination-page {
  .taylor-made-card {
    &__wrapper {
      .featured-explore-button {
        &--extra {
          margin-left: 20px;
        }
      }
      @media only screen and (max-width: $screen-md) {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
        align-items: stretch;
      }
    }
    &__img-wrap {
      @media only screen and (max-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }
}
