/* content intro styles */
.content-intro {
  padding: $global-md-space 0;
  .text-holder {
    text-align: center;

    p {
      text-align: justify;
      text-justify: auto;
    }

    .btn-holder {
      margin-top: 45px;
    }
  }

  .map-col {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 20px;

    .holder {
      background: $listview-mapbg;
      border: 10px solid darken($listview-mapbg, 10);
      padding: 10px;
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .map-holder {
    margin: 20px 0;
    border: 0;
    text-align: center;
  }

  .info {
    color: $white;

    strong {
      display: block;
      font-size: 18px;
      font-weight: 700;
      font-family: $montserrat;
    }

    .sub {
      font-style: italic;
    }
    .slot:first-child {
      margin-bottom: 10px;
    }
    &.icon {
      font-size: 150px;
      line-height: 1;
      color: #242020;
    }
  }

  @include breakpoint-min($screen-sm) {
    padding: $global-space 0;
    .text-holder {
      text-align: left;
    }
  }

  @include breakpoint-min($screen-md) {
    padding: $global-md-space 0;
    .map-col {
      text-align: left;

      .holder {
        margin-top: -100px;
      }
    }

    .text-holder {
    }
  }
}
