/* content list styles */
.content-list {
  @extend %listreset;

  &.tick-list {
    li {
      &:before {
        color: green;
        content: '\e962';
      }
    }
  }

  &.cross-list {
    li {
      &:before {
        color: red;
        content: '\e914';
      }
    }
  }

  li {
    padding-left: 35px;
    position: relative;
    margin-bottom: 5px;

    &:before {
      position: absolute;
      left: 0;
      top: 7px;
      font: 16px/16px 'icomoon';
      color: $silver-chalice;
    }
  }
}
