.featured-destinations {
  .featured-destination-row {
    &::before,
    &::after {
      content: none;
    }
    display: flex;
    flex-wrap: wrap;
    .article {
      .thumbnail {
        height: 100%;
        display: flex;
        flex-direction: column;

        .featured-explore-button {
          margin-top: auto;
          align-self: flex-start;
        }
      }
    }
  }
}

.content-block.featured-destinations {
  margin-top: -$global-md-space;
  padding: 0 0 $global-bottom-space;

  @include breakpoint-min($screen-sm) {
    margin-top: -25px;
    padding: 0 0 $global-bottom-space;
  }

  @include breakpoint-min($screen-md) {
    margin-top: -25px;
    padding: 0 0 $global-bottom-space;
  }
}
