.featured-tours {
  .featured-tour-row {
    display: flex;
    flex-wrap: wrap;
    .article {
      .thumbnail {
        height: 100%;
        display: flex;
        flex-direction: column;

        .featured-explore-button {
          margin-top: auto;
          align-self: flex-start;
        }
      }
    }
  }
}
