/* feature block global styles */
.feature-block {
  background: $shark;
  z-index: 99;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  position: relative;

  &.hover {
    .swipe {
      &.left {
        opacity: 1;
      }
    }
  }

  .ico {
    position: relative;
    top: 0;
    display: block;
    margin: 0 auto 10px;
    transition: top 0.2s linear;
    font-size: 25px;
    line-height: 1;
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .info {
    transition: color 0.2s linear;
  }

  ul {
    @extend %listreset;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  li {
    flex: 1 0 auto;
    padding: 20px;
    position: relative;
    font-family: $montserrat;

    a {
      display: block;
      height: 100%;
      color: $gray;

      &:hover {
        color: $iconbar-link-hover-color;

        .ico {
          top: -5px;
        }
      }
    }
    @include breakpoint-max($screen-md - 1) {
      padding: 20px 10px;
    }
    @include breakpoint-max($screen-md - 1) {
      padding: 20px 5px;
    }
  }

  @include breakpoint-min($screen-sm) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include breakpoint-min($large-screen) {
    font-size: 1em;
    padding: $global-xs-space 0 15px;

    ul {
      li {
        padding: 20px 10px;
      }
    }

    li {
      a {
        &:hover {
          .ico {
            top: -10px;
          }
        }
      }
    }

    .ico {
      font-size: 45px;
      svg {
        width: 45px;
        height: 45px;
      }
    }
  }
  @include breakpoint-max($screen-md - 1) {
    font-size: 12px;
  }
}
