/* list view styles */
.list-view {
  .filter-option {
    max-width: 500px;
  }

  .star-rating {
    margin-right: 15px;

    .disable {
      color: $boulder;
    }
  }

  .activity-level {
    .hover {
      display: none;
    }

    .ico {
      font-size: 67px;
      line-height: 1;
      color: $gray;
    }
  }

  .article {
    max-width: 500px;
    transition: all 0.2s;

    .thumbnail {
      display: flex;
      align-items: center;
      transition: all 0.2s;
      .description {
        transition: all 0.2s;
      }
      .col-left {
        transition: all 0.2s;
        header {
          transition: all 0.2s;
          h3 {
            transition: all 0.2s;
          }
        }
        p.text {
          transition: all 0.2s;
          margin-bottom: 20px;
          flex: 1 0 auto;
        }
        footer {
          transition: all 0.2s;
        }
      }
      .info-aside {
        transition: all 0.2s;
      }
      &:hover {
        h3 {
          a {
            color: $article-link-hover-color;
          }
        }

        .price {
          span {
            color: $article-link-hover-color;
          }
        }

        .activity-level {
          .ico {
            color: $article-link-hover-color;
          }
        }

        .star-rating {
          color: $article-link-hover-color;
        }
      }

      p.text {
        margin-bottom: auto;
      }

      @media only screen and (max-width: $screen-md) {
        display: flex;
        flex-direction: column;
        max-width: 550px;
        margin: 0 auto;
        .img-wrap {
          width: 100%;
        }
        .description {
          display: flex;
        }
      }
      @media only screen and (max-width: $screen-md) {
        .description {
          flex-direction: column;
        }
      }
    }

    .thumbnail.grid {
      flex-direction: column;
      .description {
        width: 100%;
        flex-direction: column;
        .col-left {
          width: 100%;

          h3 {
            padding-right: 20px;
            max-width: 75%;
          }

          .info-day {
            // max-width: 25%;
            padding-left: 20px;
          }

          .ico-list {
            display: flex;
            align-items: center;
          }
          .info-footer {
            border-bottom: 1px solid $cararra;
          }
        }
        .info-aside {
          display: flex;
          width: 100%;
          .price {
            font-size: 1em;
            align-self: center;
            margin-bottom: 0;
          }
          .activity-level {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
          }
          a {
            align-self: center;
            font-size: 1em;
            min-width: unset;
          }
        }
      }
    }

    .img-wrap {
      text-align: center;
      margin: 0 auto 20px;

      img {
        border-radius: 5px;
        width: 100%;
      }
    }

    .info-aside {
      border: solid $cararra;
      border-width: 1px 0 0;
      margin-bottom: 20px;
      padding-top: 15px;

      .price {
        max-width: none;

        span {
          color: $list-price-color;
          font-size: 1.186em;
        }
      }
    }

    h3 {
      overflow: hidden;
    }

    .star-rating,
    .info-rate {
      display: inline-block;
      vertical-align: middle;
      max-width: 42%;
    }

    .info-rate {
      max-width: 56%;
    }

    .info-footer {
      @extend %clearfix;
      overflow: visible;

      li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        padding: 0;
      }

      [class^='glyphicon-'],
      [class*=' glyphicon-'],
      [class^='ico-'],
      [class*=' ico-'],
      [class^='icon-'],
      [class*=' icon-'] {
        font-size: 25px;
      }
    }

    .info-footer.destination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:after {
        content: none;
      }

      .ico-list {
        border-right: none;

        li.pop-opener {
          .ico-file {
            svg {
              height: 32px;
            }
          }
          @media only screen and (max-width: $screen-md) {
            margin: 0 10px 0 0;
            flex-direction: column;
          }
        }
        @media only screen and (max-width: $screen-md) {
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
        }
      }

      @media only screen and (max-width: $screen-md) {
        flex-direction: column;
      }
    }

    .reviews-holder {
      margin-bottom: 15px;
    }

    .ico-list {
      @extend %listreset;
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid $cararra;
      overflow: visible;
    }

    footer {
      border: 0;
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 5px;
    }

    .ico-action {
      a {
        color: $gray;

        &:hover {
          color: $article-link-hover-color;
        }
      }
    }

    .ico-action.destination {
      a {
        color: $scarpa-flow;
      }

      [class^='glyphicon-'],
      [class*=' glyphicon-'],
      [class^='ico-'],
      [class*=' ico-'],
      [class^='icon-'],
      [class*=' icon-'] {
        font-size: 20px;
      }
    }
  }

  @include breakpoint-min($screen-md) {
    .filter-option {
      max-width: none;
    }
    .article {
      max-width: none;

      .col-left {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 15px 10px 15px 0;
      }

      .info-aside {
        width: 30%;
        margin: 0;
        border-width: 0 0 0 1px;
        padding-top: 0;
      }
    }
  }

  @include breakpoint-min($screen-md) {
    .article {
      .img-wrap {
        margin: 0 20px 0 0;
        width: 350px;
      }

      .description {
        display: flex;
        width: calc(100% - 370px);
      }
    }

    .article {
      .info-aside {
        .price {
          span {
            font-size: 1.667em;
          }
        }
      }
    }
  }

  @include breakpoint-min($screen-lg) {
    .article {
      .ico-list {
        li {
          margin: 0 15px 0 0;
        }
      }

      .info-footer {
        .ico-action {
          li {
            margin: 0 0 0 30px;
          }
        }
      }
    }
  }
}
