// Home page testimonial block
#testimonial-home-page {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Home parallax banner image
#banner-homeparallax-default {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Grid view 2 column
#gridview-2-col {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Grid view 3 column
#gridview-3-col {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Grid view 4 column
#gridview-4-col {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Grid view with sidebar page
#gridview-sidebar {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Grid view full width
#gridview-full-width {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// List view normal layout
#list-view-normal {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// List view normal layout
#list-view-detail {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// //Activity Jungle Page
#activity-jungle {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// //Activity City Tour Page
#activity-city-tour {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// //Activity Summer Page
#activity-summer {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// About us page
#about-banner {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// About page service block
#about-service-block {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Step block in aboutus page
#about-step-block {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

//Banner image for layout both sidebar
#banner-layout-bothsidebar {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

//Banner image for layout full width wide page
#banner-layout-fullwidth-wide {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

//Banner image for layout full width page
#banner-layout-fullwidth {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

//Banner image for layout left sidebar page
#banner-layout-leftsidebar {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

//Banner image for layout right sidebar page
#banner-layout-rightsidebar {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Blog default page
#blog-default {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Blog left sidebar page
#blog-leftsidebar {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Blog right sidebar page
#blog-rightsidebar {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Blog full width page
#blog-fullwidth {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Blog single page
#blog-single {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

// Contact page
#banner-contact {
  background-image: url('../../img/banner/activity-hiking.jpg');
}

//Banner image for intro page
#banner-intro {
  background-image: url('../../img/banner/activity-hiking.jpg');
}
