/* subscribe form styles */
.subscribe-form {
  .form-control {
    border: 0;
    background: $desert-storm;
    box-shadow: none;
    font-size: 14px;
    height: 30px;
    border-radius: 0;
    font-weight: 400;

    &::-webkit-input-placeholder {
      color: $gray;
    }
    &:-moz-placeholder {
      color: $gray;
    }
    &::-moz-placeholder {
      color: $gray;
    }
    &:-ms-input-placeholder {
      color: $gray;
    }

    &:focus {
      background: darken($desert-storm, 5%);
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  .btn {
    font-size: 14px;
    min-width: 110px;
  }

  .honeypot {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }

  .btn-holder {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    .btn {
      &:active,
      &:focus {
        outline: none;
      }
      @include breakpoint-max($screen-xs - 1) {
        align-self: center;
      }
      &.submitting {
        color: $kokoda;
      }
    }
  }
  &.contact-form {
    .form-group:first-child {
      margin-bottom: 0px;
    }
  }
}
