.taylor-made-card {
  &__wrapper {
    background: $white;
    padding: 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px rgba(1, 2, 2, 0.05);
    &.first {
      margin-top: 0;
    }
    &.last {
      margin-bottom: 0;
    }
    @media only screen and (max-width: $screen-sm) {
      flex-direction: column;
      align-items: stretch;
    }
  }
  &__img-wrap {
    flex: 1 0 45%;
    @media only screen and (max-width: $screen-sm) {
      flex-grow: 0;
      margin-bottom: 30px;
    }
  }
  &__textblock {
    padding-left: 30px;
    @media only screen and (max-width: $screen-sm) {
      padding-left: 0px;
    }
  }
  &__title {
    font-size: 30px;
  }
  &__subTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__description {
    margin-bottom: 30px;
  }
}
