.image-gallery {
  .image-gallery-slide {
    .image-gallery-description {
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      bottom: 20px;
    }
  }
  .image-gallery-thumbnail {
    &.active,
    &:hover,
    &:focus {
      border-color: $shark;
    }
  }
  .image-gallery-icon {
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 50%;
    overflow: hidden;
    filter: none;
    color: white;
    display: flex;
    font-size: inherit;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    outline: 0;
    transition: all 200ms;
    width: 40px;
    padding: 1px 6px;

    &.image-gallery-left-nav {
      left: 10px;
    }
    &.image-gallery-right-nav {
      right: 10px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.6);
      .image-gallery-svg {
        transform: none;
      }
    }
    .image-gallery-svg {
      overflow: hidden;
      display: inline-block;
      height: 30px;
      width: 30px;
      stroke-width: 2;
    }
  }
  &:hover {
    .image-gallery-icon {
      opacity: 1;
    }
  }
}

.gallery-container {
  display: flex;
  justify-content: center;
  .gallery-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    grid-auto-rows: 1px;
    width: 100%;
    max-width: 370px;

    @include breakpoint-min($screen-sm) {
      grid-template-columns: 1fr 1fr;
      max-width: unset;
    }
    @include breakpoint-min($screen-md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    & > li {
      margin: 0 !important;
      padding: 0 !important;
      width: unset !important ;
    }
    .fancybox {
      overflow: hidden;
      margin: 0;
      display: block;
      position: relative;
      overflow: hidden;
      z-index: 2;
      transition: all 0.3s linear;
      outline: none !important;
      color: #5c5e62;
      text-decoration: none;
      background-color: transparent;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: -1px;
        top: 0;
        bottom: 0;
        background: rgba(71, 77, 75, 0.92);
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
      }
    }
  }

  .gallery-list.has-center .fancybox:after {
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
  }

  .gallery-list.has-center .fancybox .caption:before,
  .gallery-list.has-center .fancybox .centered {
    opacity: 0;
    transform: scale(0);
    transition: all linear 0.3s;
  }

  .gallery-list.has-center .fancybox:hover:after,
  .gallery-list.has-center .fancybox:hover .caption:before,
  .gallery-list.has-center .fancybox:hover .centered {
    opacity: 1;

    transform: scale(1);
  }
}
.react-images {
  &__pager {
    width: 100vw !important;
  }
  &__footer {
    justify-content: center !important;
    text-align: center;
    &__caption {
      padding: 7px 10px;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__navigation {
    button {
      &:focus {
        outline-width: 0;
      }
    }
  }
}
